- name: Setting OS version fact
  set_fact:
    osversion: "{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}"

- name: Install yum-utils
  yum:
    name: yum-utils
    state: present

#- name: Upgrade system
#  yum:
#    name: '*'
#    state: latest
#  tags: ['skip_ansible_lint']
#
#- name: Check if reboot is required
#  shell:
#    cmd: /usr/bin/needs-restarting -r
#  args:
#    warn: no
#  changed_when: no
#  ignore_errors: yes
#  register: needs_restarting
#  tags: ['skip_ansible_lint']
#
#- name: Reboot server if needed
#  reboot:
#    msg: "Reboot initiated by Ansible"
#    connect_timeout: 5
#    reboot_timeout: 600
#    pre_reboot_delay: 0
#    post_reboot_delay: 30
#    test_command: whoami
#  when: needs_restarting.rc == 1

- name: Install Libvirt Packages
  yum:
    name: "{{ libvirt_packages[osversion] }}"
    state: present

- name: Add libvirt non-root user
  user:
    name: "{{ libvirt_user }}"
    shell: /bin/bash
    groups: libvirt
    append: yes
    password: "{{ libvirt_user_passwd | password_hash('sha512') }}"
    update_password: "on_create"
  when: use_libvirt_user | bool

- name: Enable and start libvirt service
  service:
    name: libvirtd
    state: started
    enabled: yes
