TYPE=Bridge
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=static
IPADDR={{ ansible_default_ipv4.address }}
PREFIX={{ client_network_cidr }}
GATEWAY={{ ansible_default_ipv4.gateway }}
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
DEVICE={{ bridge_name }}
ONBOOT=yes
AUTOCONNECT_PRIORITY=-999
DNS1={{ ansible_dns.nameservers[0] }}
PEERDNS=no
STP=no
IPV6INIT=no
NAME={{ bridge_name }}